* {
    margin: 0%;
    padding: 0%;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat&family=Ubuntu&display=swap');